{
  "printWidth": 140,
  "tabWidth": 4,
  "useTabs": false,
  "semi": true,
  "singleQuote": false,
  "quoteProps": "as-needed",
  "trailingComma": "all",
  "bracketSpacing": true,
  "bracketSameLine": true,
  "arrowParens": "always",
  "endOfLine": "lf",
  "bracketLine": true,

  "htmlWhitespaceSensitivity": "css",
  "singleAttributePerLine": false,
  "vueIndentScriptAndStyle": false,
  "embeddedLanguageFormatting": "auto"
}
